In [1]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv("FedCycleData071012 (2).csv")
df.head(10)

,ClientID,CycleNumber,Group,CycleWithPeakorNot,ReproductiveCategory,LengthofCycle,MeanCycleLength,EstimatedDayofOvulation,LengthofLutealPhase,FirstDayofHigh,...,Method,Prevmethod,Methoddate,Whychart,Nextpreg,NextpregM,Spousesame,SpousesameM,Timeattemptpreg,BMI
0,nfp8122,1,0,1,0,29,27.33,17,12,12,...,9,,,2,7,7,1,1,0,21.254724111867
1,nfp8122,2,0,1,0,27,,15,12,13,...,,,,,,,,,,
2,nfp8122,3,0,1,0,29,,15,14,,...,,,,,,,,,,
3,nfp8122,4,0,1,0,27,,15,12,13,...,,,,,,,,,,
4,nfp8122,5,0,1,0,28,,16,12,12,...,,,,,,,,,,
5,nfp8122,6,0,1,0,26,,15,11,10,...,,,,,,,,,,
6,nfp8122,7,0,1,0,29,,16,13,,...,,,,,,,,,,
7,nfp8122,8,0,1,2,24,,14,10,9,...,,,,,,,,,,
8,nfp8122,9,0,1,0,28,,16,12,9,...,,,,,,,,,,
9,nfp8122,10,0,1,0,28,,17,11,13,...,,,,,,,,,,

In [4]:
for cols in df.columns:
    print(f"{cols} : \n {df[cols].unique()} \n \n")

ClientID :
 ['nfp8122' 'nfp8114' 'nfp8109' 'nfp8107' 'nfp8106' 'nfp8024' 'nfp8020'
 'nfp8026' 'nfp8030' 'nfp8031' 'nfp8032' 'nfp8034' 'nfp8036' 'nfp8040'
 'nfp8041' 'nfp8042' 'nfp8043' 'nfp8045' 'nfp8046' 'nfp8047' 'nfp8049'
 'nfp8050' 'nfp8051' 'nfp8057' 'nfp8058' 'nfp8060' 'nfp8062' 'nfp8063'
 'nfp8064' 'nfp8066' 'nfp8068' 'nfp8069' 'nfp8072' 'nfp8073' 'nfp8074'
 'nfp8076' 'nfp8079' 'nfp8080' 'nfp8083' 'nfp8085' 'nfp8087' 'nfp8091'
 'nfp8094' 'nfp8099' 'nfp8100' 'nfp8101' 'nfp8102' 'nfp8110' 'nfp8113'
 'nfp8116' 'nfp8123' 'nfp8124' 'nfp8129' 'nfp8131' 'nfp8133' 'nfp8137'
 'nfp8140' 'nfp8143' 'nfp8144' 'nfp8149' 'nfp8150' 'nfp8152' 'nfp8154'
 'nfp8155' 'nfp8159' 'nfp8161' 'nfp8164' 'nfp8165' 'nfp8168' 'nfp8172'
 'nfp8173' 'nfp8174' 'nfp8176' 'nfp8177' 'nfp8178' 'nfp8179' 'nfp8184'
 'nfp8186' 'nfp8187' 'nfp8188' 'nfp8189' 'nfp8190' 'nfp8192' 'nfp8193'
 'nfp8195' 'nfp8196' 'nfp8197' 'nfp8200' 'nfp8206' 'nfp8207' 'nfp8209'
 'nfp8210' 'nfp8211' 'nfp8212' 'nfp8218' 'nfp8221' 'nfp8223' 'nfp8226'
 'nfp8228' 'nfp8229' 'nfp8230' 'nfp8233' 'nfp8234' 'nfp8235' 'nfp8236'
 'nfp8237' 'nfp8238' 'nfp8240' 'nfp8242' 'nfp8244' 'nfp8246' 'nfp8247'
 'nfp8248' 'nfp8249' 'nfp8252' 'nfp8253' 'nfp8254' 'nfp8257' 'nfp8260'
 'nfp8263' 'nfp8264' 'nfp8266' 'nfp8268' 'nfp8269' 'nfp8270' 'nfp8271'
 'nfp8272' 'nfp8276' 'nfp8278' 'nfp8279' 'nfp8281' 'nfp8282' 'nfp8284'
 'nfp8286' 'nfp8288' 'nfp8289' 'nfp8290' 'nfp8292' 'nfp8293' 'nfp8294'
 'nfp8296' 'nfp8298' 'nfp8299' 'nfp8302' 'nfp8303' 'nfp8305' 'nfp8306'
 'nfp8308' 'nfp8309' 'nfp8310' 'nfp8311' 'nfp8312' 'nfp8313' 'nfp8317'
 'nfp8322' 'nfp8323' 'nfp8324' 'nfp8328' 'nfp8334']


CycleNumber :
 [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45]


Group :
 [0 1]


CycleWithPeakorNot :
 [1 0]


ReproductiveCategory :
 [0 2 1 9]


LengthofCycle :
 [29 27 28 26 24 30 25 32 31 34 23 18 33 35 41 38 36 39 37 40 21 48 22 43
 45 54 42 20 44 49 19 51]


MeanCycleLength :
 ['27.33' ' ' '31' '26.33' '26.88' '25.33' '28.75' '25.88' '27.67' '26.75'
 '27.17' '32.83' '33.5' '32.6' '29' '30.36' '31.33' '27.58' '29.9' '25.15'
 '27' '32' '29.4' '27.43' '28.77' '27.62' '30.64' '29.67' '25.8' '25.23'
 '29.5' '34.07' '30.92' '30.25' '28.46' '28.15' '40' '33.92' '27.46'
 '26.69' '26.38' '26.42' '27.08' '30.75' '31.75' '28.23' '33.38' '30.15'
 '26.25' '33.46' '26.77' '38.81' '31.4' '27.36' '25.7' '31.55' '37.17'
 '30.83' '31.17' '27.15' '27.4' '35.95' '31.26' '27.78' '30.93' '25.4'
 '26.71' '29.82' '27.5' '26.85' '30.94' '33.83' '26.5' '25.5' '26.27'
 '28.17' '27.29' '27.75' '30.5' '30' '31.14' '29.1' '24' '26.78' '39'
 '36.33' '25.85' '31.6' '29.62' '37' '29.38' '32.25' '34.5' '31.45'
 '33.47' '27.92' '27.9' '26' '26.58' '30.42' '32.07' '33' '26.94' '28.54'
 '29.63']


EstimatedDayofOvulation :
 ['17' '15' '16' '14' '18' '12' '19' ' ' '11' '13' '27' '22' '8' '20' '21'
 '23' '10' '26' '24' '29' '9' '25' '28' '6']


LengthofLutealPhase :
 ['12' '14' '11' '13' '10' ' ' '21' '9' '8' '4' '15' '16' '18' '17' '20'
 '19' '22' '7' '24' '6' '5' '23' '29' '1' '32' '28' '26' '41' '34' '27']


FirstDayofHigh :
 ['12' '13' ' ' '10' '9' '8' '14' '11' '16' '6' '15' '17' '21' '7' '19'
 '18' '5' '22' '20' '24' '23' '26' '25']


TotalNumberofHighDays :
 ['5' '2' '1' '4' '7' '6' '3' '11' '13' '10' '0' '8' '12' '9' '17' '16' ' '
 '14' '15' '19' '22' '18' '20' '21']


TotalHighPostPeak :
 ['0' '1' '2' '5' '3' '4' '6' ' ' '7']


TotalNumberofPeakDays :
 ['2' '0' '3' '1' '4' ' ' '6' '5' '7' '12' '10' '9' '13' '11' '8']


TotalDaysofFertility :
 ['9' '6' '5' '8' '11' '10' '7' '15' '13' '14' '0' '12' '4' '2' '16' ' '
 '18' '19' '20' '17' '3' '22' '21' '1' '24' '27']


TotalFertilityFormula :
 ['15' '13' '14' '12' '10' '11' '9' '16' '17' '24' '25' '18' '8' '20' '22'
 '23' '28' '21' '29' '19' '26' '27' '35' '7' '31' '37' '6' ' ' '36' '33']


LengthofMenses :
 ['5' '4' '6' '7' '10' '3' '8' '2' '9' '11' ' ' '15']


MeanMensesLength :
 ['4.49' ' ' '4.5' '6.67' '4.75' '4.33' '4.67' '5.31' '6' '5.63' '5.33'
 '5.5' '5.2' '4.63' '5.45' '6.42' '6.5' '3.92' '5' '5.14' '6.23' '5.54'
 '7' '3.9' '4.69' '4.25' '7.14' '4.38' '4' '3.67' '3.23' '4.46' '5.69'
 '4.54' '2.85' '6.75' '8.58' '5.62' '5.67' '4.77' '6.38' '4.45' '5.8'
 '5.21' '6.45' '3.83' '4.83' '5.25' '4.22' '6.07' '2.4' '6.21' '5.08'
 '5.12' '6.25' '5.92' '3.94' '4.17' '6.88' '5.75' '3.5' '6.86' '5.17'
 '5.89' '5.84' '5.6' '7.46' '8.25' '5.16' '6.53' '4.7' '4.92' '7.08'
 '5.73' '5.64' '4.47' '4.85']


MensesScoreDayOne :
 ['3' '1' '2' ' ']


MensesScoreDayTwo :
 ['3' '2' '1' ' ']


MensesScoreDayThree :
 ['2' '3' '1' ' ']


MensesScoreDayFour :
 ['1' '2' '3' ' ']


MensesScoreDayFive :
 ['1' ' ' '2' '3']


MensesScoreDaySix :
 [' ' '1' '2' '3']


MensesScoreDaySeven :
 [' ' '1' '2' '3']


MensesScoreDayEight :
 [' ' '1' '2']


MensesScoreDayNine :
 [' ' '1' '2']


MensesScoreDayTen :
 [' ' '1']


MensesScoreDay11 :
 [' ' '1' '2']


MensesScoreDay12 :
 [' ' '2']


MensesScoreDay13 :
 [' ' '2']


MensesScoreDay14 :
 [' ' '1']


MensesScoreDay15 :
 [' ' '1']


TotalMensesScore :
 ['10' '12' '11' '9' '8' '6' '7' '13' '14' '15' '17' '5' '18' '16' '3' '4'
 '23' '19' '22' '24' '2' ' ' '20']


MeanBleedingIntensity :
 ['9.04' ' ' '7.5' '12.33' '7.38' '6.67' '8.33' '9.88' '9.83' '11.69'
 '10.17' '9.5' '11.6' '9' '11.09' '14.55' '7.33' '11.5' '6.62' '10' '12'
 '10.1' '9.86' '12.31' '9.62' '9.27' '11.67' '9.4' '6.52' '8.62' '8.75'
 '15.07' '7.85' '5.54' '5.15' '7.92' '13' '10.08' '9.46' '4.46' '5.62'
 '10.83' '8.85' '18.33' '12.85' '9.67' '10.5' '8' '11.25' '12.69' '7.64'
 '11' '10.43' '9.78' '11.18' '10.42' '8.38' '11.7' '8.9' '9.44' '8.13'
 '11.14' '3.33' '10.41' '13.5' '12.23' '7.19' '7.83' '13.63' '7.09'
 '10.71' '14' '6.5' '7' '11.57' '18' '10.7' '6' '11.78' '15' '8.5' '10.11']


NumberofDaysofIntercourse :
 ['5' '6' '3' '4' '7' '8' '0' '2' '1' '10' '11' '14' '19' '16' '9' '12'
 '13' '18' '15' '20' ' ']


IntercourseInFertileWindow :
 ['1' '0' ' ']


UnusualBleeding :
 ['0' '1' ' ']


PhasesBleeding :
 [' ' '1' '0' '3' '2']


IntercourseDuringUnusBleed :
 [' ' '1' '0' '2']


Age :
 ['36' ' ' '39' '29' '26' '25' '23' '33' '30' '31' '24' '27' '35' '37' '32'
 '38' '21' '34' '22' '28' '43' '41' '40' '42']


AgeM :
 ['39' ' ' '36' '32' '25' '38' '34' '24' '42' '31' '23' '27' '26' '40' '43'
 '28' '22' '37' '35' '20' '30' '41' '29' '33' '44' '46' '47' '21']


Maristatus :
 ['0' ' ' '2' '1']


MaristatusM :
 ['0' ' ' '2' '3' '1']


Yearsmarried :
 ['10' ' ' '4' '8' '1' '3' '12' '0' '7' '5' '15' '11' '2' '9' '14' '13'
 '18' '6' '17' '20' '16']


Wedding :
 [' ' '92010' '72009' '62009' '52009' '92009' '112009']


Religion :
 ['0' ' ' '4' '1']


ReligionM :
 ['0' ' ' '4' '1']


Ethnicity :
 ['0' ' ' '5' '3' '1' '2']


EthnicityM :
 ['0' ' ' '5' '3' '4' '2']


Schoolyears :
 ['8' ' ' '9' '7' '6' '2']


SchoolyearsM :
 ['8' ' ' '9' '7' '1' '6' '5']


OccupationM :
 ['3' ' ' '0' '5' '4' '1' '6' '2']


IncomeM :
 ['5' ' ' '3' '4' '1' '2' '0']


Height :
 ['63' ' ' '68' '66' '71' '65' '67' '72' '69' '70' '64' '62' '61' '60' '59']


Weight :
 ['120' ' ' '185' '180' '200' '150' '155' '137' '135' '136' '178' '106'
 '130' '187' '168' '170' '175' '220' '95' '209' '110' '115' '141' '201'
 '160' '190' '145' '300' '260' '194' '125' '179' '165' '189' '140' '122'
 '124' '157' '0' '268' '128' '214' '161' '127' '138' '116' '132' '104'
 '195' '123' '117' '240' '152' '112' '146' '114' '121']


Reprocate :
 ['0' ' ' '1' '6' '5' '2' '9' '3']


Numberpreg :
 ['3' ' ' '2' '0' '1' '6' '5' '4' '7' '9' '8' '10']


Livingkids :
 ['3' ' ' '2' '0' '1' '5' '4' '6' '7' '8']


Miscarriages :
 ['0' ' ' '1' '2' '4' '3']


Abortions :
 ['0' ' ' '1' '2']


Medvits :
 ['0' ' ' '1']


Medvitexplain :
 [' ' 'multi-vitamin' 'Armour Thyroid 90 mg daily for hypothyroidism'
 'Multivitamin, B12, Folic Acid' 'Multivitamin' 'Prenatal vitamin, B6'
 'Hydrochlorothiazide' 'Toprol XL, Cybalta, Synthroid'
 'Albuterol Inhaler, Pulmacort'
 'provigil (narcolepsy) and detrol (urine inconsistency)' 'Folic Acid'
 'Optivite' 'Daily Vitamin' 'Vitamin D supplement and levothyroxine'
 'probiotics, antioxidant, vitality greens' 'Meridia 15mg SID'
 'prenatal vitamin, celexa, neurontin, and flexeril.' 'multivitamin'
 'Lexapro 40mg and Equate multi-vitamin'
 'multivitamin, and inhaled albuterol as needed'
 'Effexor 75mg 1 po daily- vitamins daily' 'Centrum Multivitamin'
 'Centrum Vitamins and Zyrtec Allergy Pills' 'Synthroid' 'Vitamin'
 'prenatal vitamins' 'Prometrium' 'levothroid'
 'Vitamins/Supplements Daily'
 'Syntthroid, Armour thyroid, Aspirin (325 mg) (all daily) Naproxen Sodium, Reglan, Seroquel (all fo m'
 'Thyroid, regular over the counter vitamins' 'Wellbutrin 300mg'
 'Daily multivitamin; migraine medications as needed' 'Paxil' 'acyclovir'
 'Zyrtec; multivitamin' 'Levoxyl, calcium' 'Medroxyprogest'
 'Prenatal vitamin; supplements' 'Advair, zyrtec' 'Prenatal vitamin'
 'folic acid, B vitamins, aspirin, fish oil, bilberry, alpha lipoic acid, insulin, lisinopril'
 'Prenatal vitamins' 'prenatal vitamin'
 'Neurontin-Restless Leg Syndrome; Wellbutrin-SAD' 'progesterone cream'
 "sjogern's syndrome and possible fibromyalgia." 'Metformin'
 "OTC women's multivitamin" 'Prenatal vitamins, omega 3 fish oil,'
 'Vitamin D, Krill Oil' 'multivitamin and calcium-magnesium'
 'Fish oil, multivitamin' 'One-a-day multivitamin'
 'Multivitamin, Calcium, Adderall for ADD, Citalopram and Wellbutrin'
 'iron supplement, Vitamin D'
 'Seroquel, Effexor, Daily Multivitamin, Calcium, Vitamin D, Vitamin K supplements'
 'Prenatal vitamins, minocyclen, fish oil, calcium.magnesium, vitamin D & vitamin C'
 'Vitamins/Prenatals'
 'antithyroid medication PTU and propranolol for tremors'
 'vitamins, preventive headache medication, ambien prn' 'Adderal XR 20mg'
 'Zoloft (100mg qhs), Maxalt 10 mg (1 prn migraine), Ambien 5 mg (1 prn sleep)'
 'Zyrtec, Prenatal vitamins, Calcium, Fish Oil'
 'Prenatal Multivitamin, Singulair for allergies, Fish Oil for high cholesterol'
 'Fluoxetine and Adderal XR' 'Claritin for allergies'
 'Humalog, Prenatal Vitamin, Calcium'
 'One-a-day for Women, Cymbalta, Welbutrin'
 'Amoxicillin for dermatologic purposes' 'Cymbalta'
 'Daily vitamin and iron supplement' 'Pre-Natal Vitamins'
 'synthroid, singulair, advair'
 'Iron supplement and progesterone from peak day plus 3 to the end of the cycle'
 'daily vitamin' 'multi vitamin' 'benzaclin - acne topical treatment'
 'Multi-Vitamin']


Gynosurgeries :
 [' ' 'c-section 10/98, D&C to remove placenta during delivery 9/00'
 '1991 - removal of one ovary' '2 C-Sections, 2-26-03 and 11-30-05'
 'Cryo and Cervical Leep in 1993'
 'C-section May 29, 2003, c-section October 1, 2004' 'd&c 10/1996'
 'Ovarian Cyst Removal via Laparoscopy- April 08, Jan 28, 09; D&C Operation for molar pregnancy Jan 20,09'
 '1996 - D and C, and 2003 - D and C' '5 C-sections' 'laparoscopy 1993'
 'C-section for first child' 'D&C, August, 2006'
 'C-section with first pregnancy'
 'c-section 10/02, 2/05; D&E post miscarriage 1/09'
 'septal ablation 2001 and 2003' 'Ovarian Cyst laproscopic removal 1991'
 '4 ceasarean section births 10/03, 7/05, 12/06, 4/09'
 'D & C after miscarriage in 1999'
 "10/94- laproscopy d/t heavy cramping, constipation; dx= endometriosis; tx'd with lupron x 6 mo, then OCP x 9 years (DC'd '02)"
 'C-section--10/17/96'
 'laproscopy for ovarian cyst and to investigate possible endometriosis (did not have endometriosis) March 2004'
 'c-sections:  12/18/93 and 11/5/06'
 'Three C-sections: 11/15/03; 09/26/05; 06/21/08'
 'd and c 10/03     2 c-sections 10/04 and 3/07'
 'D&C associated with miscarriage August 1997'
 '3 c-sections with each pregnancy']


LivingkidsM :
 [' ' '5' '2' '0' '4' '3' '6' '1' '8']


Boys :
 [' ' '3' '2' '1' '5' '4']


Girls :
 [' ' '2' '1' '3' '4']


MedvitsM :
 ['0' ' ' '1']


MedvitexplainM :
 [' ' 'multi-vitamin, acid reducer' 'Multivitamin'
 'Detrol, Vytorin, and Nexium' 'Vytorin' 'daily vitamins, hypertension'
 'vitamin c and daily vitamins' 'multivitamin'
 'Vitamins, allergy medications, motrin' 'Centrum Multivitamins'
 'excedrin migraine occassionaly' 'Double dose of centrum vitamins'
 'Cymbalta' 'medications for diabeties and anxiety' 'psoriasis injections'
 'daily multi-vitamin' 'prilosec' 'Daily Vitamin'
 'Vitamins/Supplements Daily' 'multi-vitamin, Omegas- daily'
 'Zyrtec; multivitamin' 'Rogaine'
 'metformin, glimperide, fish oil, tricor, simvastatin' 'Metformin'
 'steroid inhaler for allergies' 'Centrum Daily Multivitamin'
 'Vitamin D, Krill Oil' 'depo testosterone injection every 2 wks'
 'Humira for psoriasis'
 'Clomid for restless leg, Nasonex, Pulmicort, and Claritin for allergies and asthma, multivitamin, ca'
 'Pravastatin, Flonase and viatmins' 'Vitamins'
 'Nasonex, multivitamin, Vitamin C, Fish Oil'
 'Nortryptiline for mild anxiety'
 "Men's multivitamin, Claritin for allergies"
 'Humalog (Insulin for type 1 diabetes), Simvastatin (Cholesterol Med)'
 'Daily vitamin and Advair and Loratidine'
 'daily vitamins, allopurinol, stool softener' 'Synthroid'
 'low-dose aspirin daily' 'multi vitamin' 'Metaformin (diabetes)'
 'Proselic']


Urosurgeries :
 [' ' 'colonoscopy 2007' '2003 testicular torsion-right testicle removed'
 'cystoscopy w/kidney stone removal - 2001']


Breastfeeding :
 ['0' ' ' '6' '2' '3' '4']


Method :
 ['9' ' ' '7' '4' '8' '0' '6' '10']


Prevmethod :
 [' ' '0' '9' '4' '7' '1' '6' '2' '8']


Methoddate :
 [' ' '22009' '112008' '72007' '32009' '82009' '12009' '72008' '42009'
 '102007' '52009' '62009' '122008' '12002' '92007' '72009']


Whychart :
 ['2' ' ' '6' '3' '4' '1']


Nextpreg :
 ['7' ' ' '3' '4' '0' '6' '5' '2']


NextpregM :
 ['7' ' ' '3' '4' '0' '6' '5' '2']


Spousesame :
 ['1' ' ' '2' '0']


SpousesameM :
 ['1' ' ' '0']


Timeattemptpreg :
 ['0' ' ']


BMI :
 ['21.254724111867' ' ' '28.1260813148789' '29.0495867768595'
 '27.8912914104344' '24.9585798816568' '25.7905325443787'
 '21.4548897304522' '22.4627218934911' '21.9485766758494'
 '22.6291124260355' '24.1385030864198' '18.7750062988158'
 '19.1955471539593' '29.9502958579882' '29.2851414568946'
 '24.1028571428571' '30.1108591584782' '27.4058810425485' '37.7587890625'
 '16.8266565885614' '38.9669942050894' '19.9668639053254'
 '34.7756213017751' '29.17724609375' '20.1170655567118' '20.595703125'
 '18.0095789708176' '25.8455882352941' '25.7864203954214'
 '31.4776119402985' '24.3252595155709' '34.7476586888658'
 '26.5179500520291' '49.9171597633136' '21.1416796613945' '22.31201171875'
 '38.3910943079185' '25.821854912764' '20.0263370061811' '23.170166015625'
 '35.4791883454735' '25.8244897959184' '22.8603017689906'
 '28.8882001836547' '26.6287878787879' '37.1027777777778'
 '28.339632149156' '34.5647762747138' '24.7971781305115'
 '21.6089695137314' '26.6224852071006' '18.8520761245675'
 '26.2539500143637' '18.7926041434618' '22.524693877551'
 '43.2516069788797' '19.4602076124567' '29.8565197428834' '36.72900390625'
 '24.3635790800252' '26.788875739645' '20.4960973370064' '35.424540186445'
 '20.524437716263' '20.3768115942029' '21.453857421875' '19.366391184573'
 '21.945889698231' '24.1266272189349' '22.1487082545684'
 '20.5462333081381' '18.5594582185491' '20.671864557808'
 '19.6484815909702' '27.9765306122449' '25.74462890625' '22.8869985297206'
 '20.4660355029586' '20.8030612244898' '27.4540186444948'
 '18.8822314049587' '22.5941230486685' '21.7871900826446'
 '33.4695496925213' '25.83983069726' '20.1733241505969' '21.2822265625'
 '19.737548828125' '19.9338374291115' '21.0314776274714'
 '25.2913609467456' '20.93896484375' '23.4907551793272' '30.6634527089073'
 '23.5650951557093' '20.4828303850156' '20.9465306122449'
 '23.0259511211892' '24.6891259105099' '25.102162269391'
 '30.2680555555556' '26.6228558699042' '22.1099632690542'
 '25.1018693551775' '22.1967993079585' '21.9247048340388'
 '22.2616666666667' '25.6827916351726' '34.326171875' '21.6307692307692'
 '24.4363688595231']

In [5]:
# There are missing values in almost all columns as whitespace " " So let's replace them with NaN
df = df.replace(' ', np.nan)
df.isnull().sum()

ClientID                   0
CycleNumber                0
Group                      0
CycleWithPeakorNot         0
ReproductiveCategory       0
                        ...
NextpregM               1524
Spousesame              1523
SpousesameM             1523
Timeattemptpreg         1523
BMI                     1534
Length: 80, dtype: int64

In [6]:
# handle missing values in columns

cols_with_missing_cols= []
cols_without_missing_values = []
for cols in df.columns:   
    if df[cols].isnull().sum() == 0:
        cols_without_missing_values.append(cols)
        
    else:
        cols_with_missing_cols.append(cols)
        
print(f'Number of Columns without any missing values:  {len(cols_without_missing_values)}\n')
print(f'Number of Columns with missing values :  {len(cols_with_missing_cols)}')

Number of Columns without any missing values:  6

Number of Columns with missing values :  74

In [7]:
null = df.isnull().sum().sort_values(ascending=False)
null_per = ((df.isnull().sum()) / (df.shape[0])).sort_values(ascending=False)*100.
null_values = pd.DataFrame({
    "Column Name": null.index,
    "Total Number of Missing Values": null.values,
    "Missing Values in Percentage": null_per.values
})

In [8]:
# columns and percentages of missing values in them
null_values

,Column Name,Total Number of Missing Values,Missing Values in Percentage
0,MensesScoreDay13,1664,99.93994
1,MensesScoreDay15,1664,99.93994
2,MensesScoreDay14,1664,99.93994
3,MensesScoreDay12,1664,99.93994
4,MensesScoreDay11,1663,99.87988
...,...,...,...
75,LengthofCycle,0,0.00000
76,ReproductiveCategory,0,0.00000
77,CycleWithPeakorNot,0,0.00000
78,Group,0,0.00000
79,ClientID,0,0.00000

In [9]:
# drop columns who are missing more than 97% of their data
remove_cols = null_values[null_values["Missing Values in Percentage"] >= 97]["Column Name"].tolist()
df = df.drop(columns=remove_cols)
print(f"Columns removed: {remove_cols}")

Columns removed: ['MensesScoreDay13', 'MensesScoreDay15', 'MensesScoreDay14', 'MensesScoreDay12', 'MensesScoreDay11', 'Urosurgeries', 'MensesScoreDayTen', 'Wedding', 'Gynosurgeries', 'MensesScoreDayNine', 'Prevmethod', 'Methoddate', 'Girls', 'Boys']

In [10]:
df.shape

(1665, 66)

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1665 entries, 0 to 1664
Data columns (total 66 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   ClientID                    1665 non-null   object
 1   CycleNumber                 1665 non-null   int64
 2   Group                       1665 non-null   int64
 3   CycleWithPeakorNot          1665 non-null   int64
 4   ReproductiveCategory        1665 non-null   int64
 5   LengthofCycle               1665 non-null   int64
 6   MeanCycleLength             141 non-null    object
 7   EstimatedDayofOvulation     1515 non-null   object
 8   LengthofLutealPhase         1514 non-null   object
 9   FirstDayofHigh              1407 non-null   object
 10  TotalNumberofHighDays       1653 non-null   object
 11  TotalHighPostPeak           1662 non-null   object
 12  TotalNumberofPeakDays       1649 non-null   object
 13  TotalDaysofFertility        1634 non-null   object
 14  TotalFertilityFormula       1663 non-null   object
 15  LengthofMenses              1661 non-null   object
 16  MeanMensesLength            141 non-null    object
 17  MensesScoreDayOne           1661 non-null   object
 18  MensesScoreDayTwo           1661 non-null   object
 19  MensesScoreDayThree         1640 non-null   object
 20  MensesScoreDayFour          1578 non-null   object
 21  MensesScoreDayFive          1231 non-null   object
 22  MensesScoreDaySix           603 non-null    object
 23  MensesScoreDaySeven         224 non-null    object
 24  MensesScoreDayEight         68 non-null     object
 25  TotalMensesScore            1661 non-null   object
 26  MeanBleedingIntensity       110 non-null    object
 27  NumberofDaysofIntercourse   1664 non-null   object
 28  IntercourseInFertileWindow  1664 non-null   object
 29  UnusualBleeding             1645 non-null   object
 30  PhasesBleeding              106 non-null    object
 31  IntercourseDuringUnusBleed  82 non-null     object
 32  Age                         142 non-null    object
 33  AgeM                        142 non-null    object
 34  Maristatus                  142 non-null    object
 35  MaristatusM                 142 non-null    object
 36  Yearsmarried                131 non-null    object
 37  Religion                    142 non-null    object
 38  ReligionM                   142 non-null    object
 39  Ethnicity                   141 non-null    object
 40  EthnicityM                  142 non-null    object
 41  Schoolyears                 135 non-null    object
 42  SchoolyearsM                134 non-null    object
 43  OccupationM                 141 non-null    object
 44  IncomeM                     139 non-null    object
 45  Height                      133 non-null    object
 46  Weight                      134 non-null    object
 47  Reprocate                   142 non-null    object
 48  Numberpreg                  142 non-null    object
 49  Livingkids                  142 non-null    object
 50  Miscarriages                139 non-null    object
 51  Abortions                   139 non-null    object
 52  Medvits                     142 non-null    object
 53  Medvitexplain               106 non-null    object
 54  LivingkidsM                 80 non-null     object
 55  MedvitsM                    139 non-null    object
 56  MedvitexplainM              60 non-null     object
 57  Breastfeeding               142 non-null    object
 58  Method                      142 non-null    object
 59  Whychart                    142 non-null    object
 60  Nextpreg                    142 non-null    object
 61  NextpregM                   141 non-null    object
 62  Spousesame                  142 non-null    object
 63  SpousesameM                 142 non-null    object
 64  Timeattemptpreg             142 non-null    object
 65  BMI                         131 non-null    object
dtypes: int64(5), object(61)
memory usage: 858.6+ KB

In [22]:
# df['MedvitexplainM'].dropna(inplace=False)
df['MedvitexplainM'].notna().sum()

np.int64(60)

In [29]:
mask = df[['MeanCycleLength', 'MeanMensesLength', 'Age', 'Height', 'Weight']].notna().all(axis=1)
rows_with_all_values = df[mask]
print(mask)  # True for rows with all values present
rows_with_all_values.head()

0        True
1       False
2       False
3       False
4       False
        ...
1660    False
1661    False
1662    False
1663    False
1664    False
Length: 1665, dtype: bool

,ClientID,CycleNumber,Group,CycleWithPeakorNot,ReproductiveCategory,LengthofCycle,MeanCycleLength,EstimatedDayofOvulation,LengthofLutealPhase,FirstDayofHigh,...,MedvitexplainM,Breastfeeding,Method,Whychart,Nextpreg,NextpregM,Spousesame,SpousesameM,Timeattemptpreg,BMI
0,nfp8122,1,0,1,0,29,27.33,17,12,12,...,NaN,0,9,2,7,7,1,1,0,21.254724111867
45,nfp8114,1,0,1,0,28,31,14,14,NaN,...,"multi-vitamin, acid reducer",0,9,2,3,3,1,1,0,28.1260813148789
47,nfp8109,1,0,1,0,29,26.33,19,10,14,...,NaN,0,9,2,3,3,1,1,0,29.0495867768595
58,nfp8106,1,0,1,0,25,25.33,11,14,6,...,NaN,0,9,6,3,3,1,1,0,27.8912914104344
61,nfp8024,1,0,1,0,28,28.75,15,13,9,...,Multivitamin,0,9,2,3,3,1,1,0,24.9585798816568

In [32]:
true_indices = mask[mask].index
print(true_indices)

Index([   0,   45,   47,   58,   61,   73,   89,   95,  111,  123,
       ...
       1280, 1286, 1289, 1301, 1313, 1327, 1342, 1343, 1345, 1348],
      dtype='int64', length=127)

In [33]:
filtered_df = df.loc[true_indices]
filtered_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 127 entries, 0 to 1348
Data columns (total 66 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   ClientID                    127 non-null    object
 1   CycleNumber                 127 non-null    int64
 2   Group                       127 non-null    int64
 3   CycleWithPeakorNot          127 non-null    int64
 4   ReproductiveCategory        127 non-null    int64
 5   LengthofCycle               127 non-null    int64
 6   MeanCycleLength             127 non-null    object
 7   EstimatedDayofOvulation     114 non-null    object
 8   LengthofLutealPhase         114 non-null    object
 9   FirstDayofHigh              110 non-null    object
 10  TotalNumberofHighDays       126 non-null    object
 11  TotalHighPostPeak           127 non-null    object
 12  TotalNumberofPeakDays       124 non-null    object
 13  TotalDaysofFertility        125 non-null    object
 14  TotalFertilityFormula       127 non-null    object
 15  LengthofMenses              127 non-null    object
 16  MeanMensesLength            127 non-null    object
 17  MensesScoreDayOne           127 non-null    object
 18  MensesScoreDayTwo           127 non-null    object
 19  MensesScoreDayThree         126 non-null    object
 20  MensesScoreDayFour          124 non-null    object
 21  MensesScoreDayFive          101 non-null    object
 22  MensesScoreDaySix           55 non-null     object
 23  MensesScoreDaySeven         20 non-null     object
 24  MensesScoreDayEight         10 non-null     object
 25  TotalMensesScore            127 non-null    object
 26  MeanBleedingIntensity       99 non-null     object
 27  NumberofDaysofIntercourse   127 non-null    object
 28  IntercourseInFertileWindow  127 non-null    object
 29  UnusualBleeding             125 non-null    object
 30  PhasesBleeding              8 non-null      object
 31  IntercourseDuringUnusBleed  7 non-null      object
 32  Age                         127 non-null    object
 33  AgeM                        127 non-null    object
 34  Maristatus                  127 non-null    object
 35  MaristatusM                 127 non-null    object
 36  Yearsmarried                117 non-null    object
 37  Religion                    127 non-null    object
 38  ReligionM                   127 non-null    object
 39  Ethnicity                   126 non-null    object
 40  EthnicityM                  127 non-null    object
 41  Schoolyears                 120 non-null    object
 42  SchoolyearsM                119 non-null    object
 43  OccupationM                 126 non-null    object
 44  IncomeM                     124 non-null    object
 45  Height                      127 non-null    object
 46  Weight                      127 non-null    object
 47  Reprocate                   127 non-null    object
 48  Numberpreg                  127 non-null    object
 49  Livingkids                  127 non-null    object
 50  Miscarriages                125 non-null    object
 51  Abortions                   125 non-null    object
 52  Medvits                     127 non-null    object
 53  Medvitexplain               98 non-null     object
 54  LivingkidsM                 70 non-null     object
 55  MedvitsM                    125 non-null    object
 56  MedvitexplainM              57 non-null     object
 57  Breastfeeding               127 non-null    object
 58  Method                      127 non-null    object
 59  Whychart                    127 non-null    object
 60  Nextpreg                    127 non-null    object
 61  NextpregM                   126 non-null    object
 62  Spousesame                  127 non-null    object
 63  SpousesameM                 127 non-null    object
 64  Timeattemptpreg             127 non-null    object
 65  BMI                         127 non-null    object
dtypes: int64(5), object(61)
memory usage: 66.5+ KB

In [34]:
filtered_df.to_csv("filtered_FedCycleData.csv", index=False)

In [35]:
# explore filtered data
for cols in filtered_df.columns:
    print(f"{cols} : \n {filtered_df[cols].unique()} \n \n")

ClientID :
 ['nfp8122' 'nfp8114' 'nfp8109' 'nfp8106' 'nfp8024' 'nfp8020' 'nfp8026'
 'nfp8030' 'nfp8031' 'nfp8032' 'nfp8034' 'nfp8036' 'nfp8040' 'nfp8041'
 'nfp8042' 'nfp8043' 'nfp8045' 'nfp8046' 'nfp8047' 'nfp8050' 'nfp8051'
 'nfp8057' 'nfp8058' 'nfp8060' 'nfp8062' 'nfp8063' 'nfp8064' 'nfp8066'
 'nfp8068' 'nfp8069' 'nfp8072' 'nfp8073' 'nfp8074' 'nfp8076' 'nfp8079'
 'nfp8080' 'nfp8083' 'nfp8085' 'nfp8087' 'nfp8091' 'nfp8094' 'nfp8099'
 'nfp8100' 'nfp8101' 'nfp8102' 'nfp8110' 'nfp8113' 'nfp8116' 'nfp8124'
 'nfp8129' 'nfp8133' 'nfp8137' 'nfp8140' 'nfp8143' 'nfp8144' 'nfp8152'
 'nfp8154' 'nfp8159' 'nfp8161' 'nfp8164' 'nfp8165' 'nfp8168' 'nfp8172'
 'nfp8173' 'nfp8174' 'nfp8176' 'nfp8177' 'nfp8178' 'nfp8179' 'nfp8184'
 'nfp8186' 'nfp8187' 'nfp8188' 'nfp8189' 'nfp8190' 'nfp8192' 'nfp8193'
 'nfp8195' 'nfp8196' 'nfp8197' 'nfp8200' 'nfp8206' 'nfp8207' 'nfp8209'
 'nfp8210' 'nfp8211' 'nfp8212' 'nfp8221' 'nfp8226' 'nfp8228' 'nfp8229'
 'nfp8230' 'nfp8233' 'nfp8234' 'nfp8235' 'nfp8236' 'nfp8237' 'nfp8238'
 'nfp8242' 'nfp8244' 'nfp8246' 'nfp8247' 'nfp8248' 'nfp8249' 'nfp8253'
 'nfp8254' 'nfp8257' 'nfp8260' 'nfp8263' 'nfp8264' 'nfp8266' 'nfp8268'
 'nfp8269' 'nfp8270' 'nfp8271' 'nfp8272' 'nfp8276' 'nfp8278' 'nfp8279'
 'nfp8282' 'nfp8284' 'nfp8286' 'nfp8288' 'nfp8289']


CycleNumber :
 [1]


Group :
 [0 1]


CycleWithPeakorNot :
 [1 0]


ReproductiveCategory :
 [0 1 9]


LengthofCycle :
 [29 28 25 27 33 34 30 31 32 24 35 26 48 38 42 36 39 37]


MeanCycleLength :
 ['27.33' '31' '26.33' '25.33' '28.75' '25.88' '27.67' '26.75' '27.17'
 '32.83' '33.5' '32.6' '29' '30.36' '31.33' '27.58' '29.9' '25.15' '27'
 '32' '29.4' '27.43' '28.77' '27.62' '30.64' '29.67' '25.8' '25.23' '29.5'
 '34.07' '30.92' '30.25' '28.46' '28.15' '40' '33.92' '27.46' '26.69'
 '26.38' '26.42' '27.08' '30.75' '31.75' '28.23' '33.38' '30.15' '33.46'
 '26.77' '38.81' '27.36' '25.7' '37.17' '30.83' '31.17' '27.15' '27.4'
 '35.95' '31.26' '27.78' '30.93' '25.4' '26.71' '29.82' '27.5' '26.85'
 '30.94' '33.83' '26.5' '25.5' '26.27' '28.17' '27.29' '27.75' '30.5' '30'
 '31.14' '24' '26.78' '39' '36.33' '25.85' '31.6' '29.62' '37' '29.38'
 '32.25' '34.5' '31.45' '33.47' '27.92' '27.9' '26' '26.58' '30.42'
 '32.07' '33' '26.94']


EstimatedDayofOvulation :
 ['17' '14' '19' '11' '15' nan '20' '23' '13' '12' '22' '18' '16' '24' '29'
 '25' '28' '21' '26']


LengthofLutealPhase :
 ['12' '14' '10' '13' nan '15' '11' '18' '16' '8' '17' '9' '6' '22' '20']


FirstDayofHigh :
 ['12' nan '14' '6' '9' '7' '11' '15' '17' '13' '18' '16' '8' '10' '22'
 '21' '20']


TotalNumberofHighDays :
 ['5' '1' '6' '4' '8' '12' '10' '2' '3' '7' '9' '14' '15' '0' '19' '13'
 '11' '17' '16' nan]


TotalHighPostPeak :
 ['0' '1' '2' '3' '6']


TotalNumberofPeakDays :
 ['2' '1' nan '4' '6' '0' '3' '5']


TotalDaysofFertility :
 ['9' '5' '10' '12' '4' '7' '8' '15' nan '14' '6' '18' '20' '13' '16' '11'
 '17' '24']


TotalFertilityFormula :
 ['15' '12' '17' '9' '13' '20' '22' '18' '28' '21' '11' '10' '16' '14' '25'
 '31' '27' '23' '26' '19' '24']


LengthofMenses :
 ['5' '4' '7' '6' '3' '8' '2' '9' '15']


MeanMensesLength :
 ['4.49' '4.5' '6.67' '4.33' '4.67' '5.31' '6' '5.63' '5.33' '5.5' '5.2'
 '4.63' '5.45' '6.42' '4.75' '6.5' '3.92' '5' '5.14' '6.23' '5.54' '7'
 '3.9' '4.69' '4.25' '7.14' '4.38' '4' '3.67' '3.23' '4.46' '5.69' '4.54'
 '2.85' '6.75' '8.58' '5.62' '4.77' '6.38' '4.45' '5.21' '3.83' '4.83'
 '5.25' '4.22' '6.07' '2.4' '6.21' '5.08' '5.12' '6.25' '5.92' '3.94'
 '4.17' '6.88' '5.75' '3.5' '6.86' '5.17' '5.89' '5.84' '5.6' '7.46'
 '8.25' '5.16' '6.53' '4.7' '4.92' '7.08' '5.73' '5.64' '4.47']


MensesScoreDayOne :
 ['3' '1' '2']


MensesScoreDayTwo :
 ['3' '2' '1']


MensesScoreDayThree :
 ['2' '1' '3' nan]


MensesScoreDayFour :
 ['1' '2' '3' nan]


MensesScoreDayFive :
 ['1' nan '2' '3']


MensesScoreDaySix :
 [nan '1' '2' '3']


MensesScoreDaySeven :
 [nan '1' '3' '2']


MensesScoreDayEight :
 [nan '1' '2']


TotalMensesScore :
 ['10' '7' '12' '8' '9' '11' '13' '16' '5' '6' '18' '14' '2' '15' '24' '17']


MeanBleedingIntensity :
 ['9.04' '7.5' '12.33' '6.67' '8.33' '9.88' '9.83' '11.69' '10.17' '9.5'
 '11.6' '9' '11.09' '14.55' '7.33' '11.5' '6.62' '12' '10.1' '9.86'
 '12.31' '9.62' '9.27' '11.67' '9.4' '6.52' '8.62' '8.75' '15.07' '7.85'
 '5.54' '5.15' '7.92' '13' '10.08' '9.46' '4.46' '5.62' '10.83' '8.85'
 '18.33' '12.85' '8' '11.25' '12.69' '7.64' '10.43' '9.78' '10.42' '8.38'
 '11.7' '8.9' '9.44' '8.13' '11.14' '3.33' '11' '10.41' '13.5' '12.23'
 '7.19' '7.83' '13.63' '7.09' '10.71' '14' '6.5' '7' '11.57' nan '6'
 '11.78' '15' '8.5' '10.11']


NumberofDaysofIntercourse :
 ['5' '0' '2' '6' '3' '4' '1' '11' '8' '7' '12' '18' '10' '13' '15' '9']


IntercourseInFertileWindow :
 ['1' '0']


UnusualBleeding :
 ['0' nan '1']


PhasesBleeding :
 [nan '1' '3' '2']


IntercourseDuringUnusBleed :
 [nan '0']


Age :
 ['36' '39' '29' '25' '23' '33' '30' '31' '24' '27' '35' '37' '32' '38'
 '21' '34' '22' '26' '28' '41' '40' '42']


AgeM :
 ['39' '36' '32' '38' '25' '34' '24' '42' '31' '23' '27' '26' '40' '43'
 '28' '22' '37' '35' '20' '30' '41' '29' '33' '44' '46' '47' '21']


Maristatus :
 ['0' '2' '1']


MaristatusM :
 ['0' '2' '1']


Yearsmarried :
 ['10' '4' '8' '1' '3' '12' '0' '7' nan '5' '15' '11' '9' '14' '2' '13'
 '18' '6' '17' '20' '16']


Religion :
 ['0' '4' '1']


ReligionM :
 ['0' '1' '4']


Ethnicity :
 ['0' nan '5' '3' '1' '2']


EthnicityM :
 ['0' '5' '3' '4' '2']


Schoolyears :
 ['8' '9' '7' '6' '2' nan]


SchoolyearsM :
 ['8' '9' '7' nan '1' '6' '5']


OccupationM :
 ['3' '0' '5' '4' '1' nan '6' '2']


IncomeM :
 ['5' '3' '4' '1' '2' nan]


Height :
 ['63' '68' '66' '71' '65' '67' '72' '69' '70' '64' '62' '61' '60' '59']


Weight :
 ['120' '185' '180' '200' '150' '155' '137' '135' '136' '178' '106' '130'
 '187' '168' '170' '175' '220' '209' '110' '115' '141' '201' '160' '190'
 '145' '300' '260' '194' '125' '179' '165' '189' '140' '122' '124' '157'
 '268' '128' '214' '161' '127' '138' '116' '132' '104' '195' '123' '117'
 '240' '152' '112' '146' '114' '121']


Reprocate :
 ['0' '1' '5' '6' '2' '9' '3']


Numberpreg :
 ['3' '2' '0' '1' '6' '5' '4' '7' '9' '8' '10']


Livingkids :
 ['3' '2' '0' '1' '5' '4' '6' '7' '8']


Miscarriages :
 ['0' '1' '2' '4' nan '3']


Abortions :
 ['0' '1' nan '2']


Medvits :
 ['0' '1']


Medvitexplain :
 [nan 'multi-vitamin' 'Armour Thyroid 90 mg daily for hypothyroidism'
 'Multivitamin' 'Prenatal vitamin, B6' 'Hydrochlorothiazide'
 'Toprol XL, Cybalta, Synthroid' 'Albuterol Inhaler, Pulmacort'
 'provigil (narcolepsy) and detrol (urine inconsistency)' 'Folic Acid'
 'Optivite' 'Daily Vitamin' 'Vitamin D supplement and levothyroxine'
 'probiotics, antioxidant, vitality greens' 'Meridia 15mg SID'
 'prenatal vitamin, celexa, neurontin, and flexeril.' 'multivitamin'
 'Lexapro 40mg and Equate multi-vitamin'
 'multivitamin, and inhaled albuterol as needed'
 'Effexor 75mg 1 po daily- vitamins daily' 'Centrum Multivitamin'
 'Centrum Vitamins and Zyrtec Allergy Pills' 'Synthroid' 'Vitamin'
 'prenatal vitamins' 'Prometrium' 'levothroid'
 'Vitamins/Supplements Daily'
 'Syntthroid, Armour thyroid, Aspirin (325 mg) (all daily) Naproxen Sodium, Reglan, Seroquel (all fo m'
 'Thyroid, regular over the counter vitamins' 'Wellbutrin 300mg'
 'Daily multivitamin; migraine medications as needed' 'acyclovir'
 'Levoxyl, calcium' 'Medroxyprogest' 'Prenatal vitamin; supplements'
 'Advair, zyrtec' 'Prenatal vitamin' 'Prenatal vitamins'
 'prenatal vitamin' 'Neurontin-Restless Leg Syndrome; Wellbutrin-SAD'
 'progesterone cream' "sjogern's syndrome and possible fibromyalgia."
 'Metformin' "OTC women's multivitamin"
 'Prenatal vitamins, omega 3 fish oil,' 'Vitamin D, Krill Oil'
 'multivitamin and calcium-magnesium' 'Fish oil, multivitamin'
 'One-a-day multivitamin'
 'Multivitamin, Calcium, Adderall for ADD, Citalopram and Wellbutrin'
 'iron supplement, Vitamin D'
 'Seroquel, Effexor, Daily Multivitamin, Calcium, Vitamin D, Vitamin K supplements'
 'Prenatal vitamins, minocyclen, fish oil, calcium.magnesium, vitamin D & vitamin C'
 'Vitamins/Prenatals'
 'antithyroid medication PTU and propranolol for tremors'
 'vitamins, preventive headache medication, ambien prn' 'Adderal XR 20mg'
 'Zoloft (100mg qhs), Maxalt 10 mg (1 prn migraine), Ambien 5 mg (1 prn sleep)'
 'Zyrtec, Prenatal vitamins, Calcium, Fish Oil'
 'Prenatal Multivitamin, Singulair for allergies, Fish Oil for high cholesterol'
 'Fluoxetine and Adderal XR' 'Claritin for allergies'
 'Humalog, Prenatal Vitamin, Calcium'
 'Amoxicillin for dermatologic purposes' 'Cymbalta'
 'Daily vitamin and iron supplement' 'Pre-Natal Vitamins'
 'synthroid, singulair, advair'
 'Iron supplement and progesterone from peak day plus 3 to the end of the cycle'
 'daily vitamin' 'multi vitamin' 'benzaclin - acne topical treatment']


LivingkidsM :
 [nan '5' '4' '2' '3' '0' '6' '1' '8']


MedvitsM :
 ['0' '1' nan]


MedvitexplainM :
 [nan 'multi-vitamin, acid reducer' 'Multivitamin'
 'Detrol, Vytorin, and Nexium' 'Vytorin' 'daily vitamins, hypertension'
 'vitamin c and daily vitamins' 'multivitamin'
 'Vitamins, allergy medications, motrin' 'Centrum Multivitamins'
 'excedrin migraine occassionaly' 'Double dose of centrum vitamins'
 'Cymbalta' 'medications for diabeties and anxiety' 'psoriasis injections'
 'daily multi-vitamin' 'prilosec' 'Daily Vitamin'
 'Vitamins/Supplements Daily' 'multi-vitamin, Omegas- daily' 'Rogaine'
 'Metformin' 'steroid inhaler for allergies' 'Centrum Daily Multivitamin'
 'Vitamin D, Krill Oil' 'depo testosterone injection every 2 wks'
 'Humira for psoriasis'
 'Clomid for restless leg, Nasonex, Pulmicort, and Claritin for allergies and asthma, multivitamin, ca'
 'Pravastatin, Flonase and viatmins' 'Vitamins'
 'Nasonex, multivitamin, Vitamin C, Fish Oil'
 'Nortryptiline for mild anxiety'
 "Men's multivitamin, Claritin for allergies"
 'Humalog (Insulin for type 1 diabetes), Simvastatin (Cholesterol Med)'
 'Daily vitamin and Advair and Loratidine'
 'daily vitamins, allopurinol, stool softener' 'Synthroid'
 'low-dose aspirin daily' 'multi vitamin' 'Metaformin (diabetes)']


Breastfeeding :
 ['0' '6' '2' '3' '4']


Method :
 ['9' '7' '4' '8' '0' '6' '10']


Whychart :
 ['2' '6' '3' '4' '1']


Nextpreg :
 ['7' '3' '4' '0' '6' '5' '2']


NextpregM :
 ['7' '3' '4' '0' '6' '5' '2' nan]


Spousesame :
 ['1' '2' '0']


SpousesameM :
 ['1' '0']


Timeattemptpreg :
 ['0']


BMI :
 ['21.254724111867' '28.1260813148789' '29.0495867768595'
 '27.8912914104344' '24.9585798816568' '25.7905325443787'
 '21.4548897304522' '22.4627218934911' '21.9485766758494'
 '22.6291124260355' '24.1385030864198' '18.7750062988158'
 '19.1955471539593' '29.9502958579882' '29.2851414568946'
 '24.1028571428571' '30.1108591584782' '27.4058810425485' '37.7587890625'
 '38.9669942050894' '19.9668639053254' '34.7756213017751' '29.17724609375'
 '20.1170655567118' '20.595703125' '18.0095789708176' '25.8455882352941'
 '25.7864203954214' '31.4776119402985' '24.3252595155709'
 '34.7476586888658' '26.5179500520291' '49.9171597633136'
 '21.1416796613945' '22.31201171875' '38.3910943079185' '25.821854912764'
 '20.0263370061811' '23.170166015625' '35.4791883454735'
 '25.8244897959184' '22.8603017689906' '28.8882001836547'
 '26.6287878787879' '37.1027777777778' '28.339632149156'
 '34.5647762747138' '24.7971781305115' '21.6089695137314'
 '26.6224852071006' '18.8520761245675' '26.2539500143637'
 '18.7926041434618' '22.524693877551' '43.2516069788797'
 '19.4602076124567' '29.8565197428834' '36.72900390625' '24.3635790800252'
 '26.788875739645' '20.4960973370064' '35.424540186445' '20.524437716263'
 '20.3768115942029' '21.453857421875' '19.366391184573' '21.945889698231'
 '24.1266272189349' '22.1487082545684' '20.5462333081381'
 '18.5594582185491' '20.671864557808' '19.6484815909702'
 '27.9765306122449' '25.74462890625' '22.8869985297206' '20.4660355029586'
 '20.8030612244898' '27.4540186444948' '18.8822314049587'
 '21.7871900826446' '33.4695496925213' '25.83983069726' '20.1733241505969'
 '21.2822265625' '19.737548828125' '19.9338374291115' '21.0314776274714'
 '25.2913609467456' '20.93896484375' '30.6634527089073' '23.5650951557093'
 '20.4828303850156' '20.9465306122449' '23.0259511211892'
 '24.6891259105099' '25.102162269391' '30.2680555555556'
 '26.6228558699042' '22.1099632690542' '25.1018693551775'
 '22.1967993079585' '21.9247048340388' '22.2616666666667'
 '25.6827916351726' '34.326171875' '21.6307692307692' '24.4363688595231']